- @data.each do |foo|
    .grid_12
        %h2= foo[:title]
    .clear
    - foo[:graphs].each do |graph|
        %div{:class => "grid_10 prefix_2"}
            %div{:id => "graph", :style => "width:600px;height:300px;"}
            %p{:id => "hoverdata"}
            :javascript
                var plot;
                $(function () {
                    var options = {
                        xaxis: { mode: "time" },
                        crosshair: { mode: "x" },
                        grid: { hoverable: true, autoHighlight: false }
                    };
                    

                    plot = $.plot($("#graph"), [], options);

                    var graph_data;
                    var graph_options;
                    function onDataReceived(foo) {
                        graph_data = foo["data"];
                        graph_options = foo["graph_opts"];

                        plot = $.plot($("#graph"), graph_data, graph_options);
                    }

                    $.ajax({
                        url: "/data/#{@hostname}/#{@service}?start=#{@start}&end=#{@end}",
                        method: 'GET',
                        dataType: 'json',
                        success: onDataReceived
                    });
                });
        .clear
