- @data.each do |foo|
    .grid_12
        %h2= foo[:title]
    .clear
    %div{:class => "grid_10 prefix_2"}
        %div{:id => "graph_#{foo[:key]}", :style => "width:600px;height:300px;"}
            Graph loading...
        :javascript
            var plot_#{foo[:key]};
            $(function () {
                var graph_data_#{foo[:key]};
                var graph_options_#{foo[:key]};
                function onDataReceived_#{foo[:key]}(foo) {
                    graph_data_#{foo[:key]} = foo["data"];
                    graph_options_#{foo[:key]} = foo["graph_opts"];

                    plot_#{foo[:key]} = $.plot($("#graph_#{foo[:key]}"), graph_data_#{foo[:key]}, graph_options_#{foo[:key]});
                }

                $.ajax({
                    url: "#{foo[:url]}?start=#{@start}&end=#{@end}#{"&plugin_instance=" + foo[:plugin_instance] if foo[:plugin_instance]}#{"&type=" + foo[:type] if foo[:type]}#{"&type_instance=" + foo[:type_instance] if foo[:type_instance]}",
                    method: 'GET',
                    dataType: 'json',
                    success: onDataReceived_#{foo[:key]}
                });
            });
    .clear
