- @data.each do |foo|
    .grid_12
        %h2= foo[:title]
    .clear
    - foo[:graphs].each do |graph|
        %div{:class => "grid_10 prefix_2"}
            %div{:id => "graph_#{foo[:title]}", :style => "width:600px;height:300px;"}
                Graph loading...
            :javascript
                var plot_#{foo[:title]};
                $(function () {
                    var graph_data_#{foo[:title]};
                    var graph_options_#{foo[:title]};
                    function onDataReceived_#{foo[:title]}(foo) {
                        graph_data_#{foo[:title]} = foo["data"];
                        graph_options_#{foo[:title]} = foo["graph_opts"];

                        plot_#{foo[:title]} = $.plot($("#graph_#{foo[:title]}"), graph_data_#{foo[:title]}, graph_options_#{foo[:title]});
                    }

                    $.ajax({
                        url: "/data/#{@hostname}/#{@service}?start=#{@start}&end=#{@end}#{"&id=" + foo[:id] if foo[:id]}",
                        method: 'GET',
                        dataType: 'json',
                        success: onDataReceived_#{foo[:title]}
                    });
                });
        .clear
